language: java
before_install:
  - sudo apt-get update -qq
install:
  - sudo apt-get install -y nsis libc6:i386
  - plugin_jar=`find /usr -type f -name plugin.jar | head -1`
  - pushd .. && mvn install:install-file -DgroupId=local-java -DartifactId=local-java-plugin -Dversion=0.0.0 -Dpackaging=jar -Dfile=$plugin_jar && popd
before_script:
  - cd eidapplet
  - keytool -genkey -alias signFiles -keystore signing.jks -keypass changeme -dname "cn=TravisCI" -storepass changeme
  - keytool -selfcert -alias signFiles -keystore signing.jks -storepass changeme
  - cd ..
