        <div class="footer">

            <p class="small">
            Пројекат није повезан са програмом Челик+ и библиотеком ЧеликАпи+ које можете да преузмете са
            <a href="http://ca.mup.gov.rs/download.html">сајта сертификационог тела МУП-а</a>. Програм
            захтева јаву 1.6 (Java 6) или новију. На оперативном систему треба подесити читач картица.
            Већина <abbr title="USB CCID читачи паметних картица">УСБ читача</abbr> ради одмах, али за неке
            је неопходан посебан драјвер. Програм не захтева инсталацију мидлвера за личну карту.
            </p><p class="small">
            Подршку пројекту можете да искажете и уплатом на Биткоин адресу: &nbsp; 
            <nobr><img src="{{baseurl}}static/images/bitcoin.png" width="24px" height="24px" alt="BTC" />
            <a href="bitcoin:1CrwXfHkUXHhXxQKstFT9YNDGGZ8vxRvea">1CrwXfHkUXHhXxQKstFT9YNDGGZ8vxRvea</nobr></a>.
            </p><p class="pull-right">    
            <abbr title="Последња измена странице">{{ page.date | date: "%d.%m.%Y" }}</abbr>
            </p>

            <p>Ауторска права &copy; <b>Горан Ракић</b> и 
            <a href="http://github.com/grakic/jfreesteel">сарадници</a>, 
            2010-{{ site.time | date: "%Y" }}</p>

        </div>
